spring:
  application:
    name: zuul
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8011
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8010/eureka
web
  security:
    status: users-ws/root/status
    registration: /users-ws/root/users
    login: /users-ws/login
    header: Authorization
    header_prefix: Bearer
    token_secret: hfgry463hf746hf573ydh475fhy5739
#    xxx:
#      axxx: something
#      bxxx: another sth